@font-face {
   font-family: 'Always Smile';
   font-display: swap;
   src: url('file:///C:/Users/Windows10/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-07_002447/fonts/Always%20Smile/font.ttf');
}
